@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.container-fluid{
    /* width: 90% !important; */
    padding-top: 20px;
}

.headingText{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 44px;
}

.trendingContainer h3{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.trendingContainer p{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #FEBB41;
}

.foodImageContainer{
    overflow: hidden;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: gray;
}

.foodImageContainer img{
    width: 100%;
    height: 100%;
}

.trendingContainer{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 991px){
    
    .headingText{
        font-size: 36px;
    }
    

    .foodImageContainer{
        overflow: hidden;
        width: 200px;
        height: auto;
        border-radius: 10px;
    }

    
    .trendingContainer{
        margin-left: 0px;
        margin-top: 10px;
    }
}

.whiteSpaceCtrl{
    white-space: normal;
    
}